@(billList: List[Bill], localUser: models.User = null)

@main(Messages("playauthenticate.navigation.bills"), "bills") {

    <h1>@Messages("playauthenticate.navigation.bills")</h1>
    <table class="table table-hover" data-link="row">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kwota</th>
                <th>Termin płatności</th>
                <th>Opis</th>
                <th>Data płatności</th>
                <th></th>
            </tr>
        </thead>
            @for(b <- billList) {
                <tr>
                    <td>@b.id</td>
                    <td>@b.amount</td>
                    <td>@b.superbill.prompt</td>
                    <td>@b.superbill.description</td>
                    <td>@b.paymentDate</td>
                    <td><a class="btn btn-default" href="@routes.Application.pay(b.id)" role="button">Zapłać rachunek</a></td>
                </tr>
        }
    </table>
}
