@(billList: List[Bill], localUser: models.User = null)

@main(Messages("playauthenticate.navigation.history"), "history") {
    
    <h1>@Messages("playauthenticate.navigation.history")</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Kwota</th>
                <th>Data zapłaty</th>
                <th>Termin płatności</th>
                <th>Opis</th>
            </tr>
        </thead>
        @for(b <- billList) {
            <tr>
                <td>#</td>
                <td>@b.amount</td>
                <td>@b.paymentDate</td>
                <td>@b.superbill.prompt</td>
                <td>@b.superbill.description</td>
            </tr>
        }
    </table>
}
