
@main(Messages("playauthenticate.index.title")) {
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>@Messages("playauthenticate.index.intro")</h1>
        <p>@Messages("playauthenticate.index.intro_2") <br/>@Messages("playauthenticate.index.intro_3")</p>
      </div>

      <!-- Example row of columns -->
      @*<div class="row">*@
        @*<div class="col-xs-6 col-sm-4">*@
          @*<h2>@Messages("playauthenticate.index.heading")</h2>*@
           @*<p></p>*@
          @*<p><a class="btn" href="#">@Messages("playauthenticate.index.details") &raquo;</a></p>*@
        @*</div>*@
        @*<div class="col-xs-6 col-sm-4">*@
          @*<h2>@Messages("playauthenticate.index.heading")</h2>*@
           @*<p>I przyszedł czas że żywcem pogrzebana została Hrabina, która niegdyś kąpała się w odmładzającej krwi setek dziewic. A jej zamek, gdzie dokonano wielu strasznych czynów – szybko obrócił się w ruinę. Nad podziemiami zagrzebanymi w zapomnianej przez Boga głuszy, niczym Monument Zła wznosi się Samotna Wieża. To jedyne co pozostało. Fortuna Hrabiny została podzielona pomiędzy kler, chociaż niektórzy powiadają, że większa jego część nie została odnaleziona.*@
               @*Wciąż spoczywa pogrzebana obok murszejących czaszek – milczących świadków tego, jak nieludzki potrafi być człowiek.</p>*@
          @*<p><a class="btn" href="#">@Messages("playauthenticate.index.details") &raquo;</a></p>*@
       @*</div>*@
        @*<div class="col-xs-6 col-sm-4">*@
          @*<h2>@Messages("playauthenticate.index.heading")</h2>*@
          @*<p>Wafer halvah jujubes lollipop liquorice jelly-o pastry. Pie halvah toffee. Candy canes donut sugar plum. Chocolate cake powder tart liquorice cotton candy pudding sweet.</p>*@
          @*<p><a class="btn" href="#">@Messages("playauthenticate.index.details") &raquo;</a></p>*@
        @*</div>*@
      @*</div>*@
    }
