@(b: Bill, localUser: models.User = null)

@main(Messages("playauthenticate.navigation.pay"), "pay") {
    
    <h1>@Messages("playauthenticate.navigation.pay")</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th> <!--todo iterator-->
                <th>Kwota</th>
                <th>Termin płatności</th>
                <th>Opis</th>
            </tr>
        </thead>
            <tr>
                <td>numer</td>  <!--todo iterator-->
                <td>@b.amount</td>
                <td>@b.superbill.prompt</td>
                <td>@b.superbill.description</td>
            </tr>
    </table>
}
