@(signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.signup.title"),"signup") {

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="col-xs-6 col-md-4">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup, 'class -> "form-horizontal", 'role -> "form") {

            @if(signupForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @signupForm.globalError.message
		     	</p>
            }

             @inputText(
                signupForm("name"),
                '_label -> Messages("playauthenticate.signup.name")
             )

             @_emailPartial(signupForm)

             @_passwordPartial(signupForm)

            <button type="submit" class="btn btn-default">@Messages("playauthenticate.signup.now")</button>
    	}
    </div>

    @*<div class="col-xs-6 col-md-4">*@
        @* @Messages("playauthenticate.signup.oauth")*@
        @* Display list of available providers *@
        @* @_providerPartial(skipCurrent=false)*@
    @*</div>*@

  </div>

}
