@(verificationUrl: String, token: String, name: String, email: String)
Cześć @name,
<br />
<br />
<p>
    Twoje konto w eSpółdzielni zostało utworzone.<br />
    <br />
    Użyj ten link, <a href="@verificationUrl">aby je aktywować</a> natychmiast.
</p>
<br />
<p>
    Pozdrawiamy,<br />
    <i>eSpółdzielnia</i>
</p>