@(billForm: Form[Superbill])
@import helper._

@main(Messages("playauthenticate.admin.addSuperBill.title"),"admin/addsuperbill") {
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h1>@Messages("playauthenticate.admin.addSuperBill.title")</h1>
        </div>
    </div>
    <div>
        @helper.form( routes.Application.doAddSuperBill) {


            @inputText(
                billForm("amount"),
                '_label -> Messages("Kwota płatności")
            )

            @inputDate(
                billForm("prompt"),
                '_label -> Messages("Termin płatności")
            )

            @inputText(
                billForm("description"),
                '_label -> Messages("Opis")
            )
            <label for="howtoallocate">Sposób przydziału</label>
            <br>
            <select name="howtoallocate" >
                <option value="1">Na mieszkanie</option>
                <option value="0">Na mieszkańca</option>
            </select>

            <br><br>

            <button type="submit" class="btn btn-default">@Messages("Dodaj")</button>
        }
    </div>

}