@import be.objectify.deadbolt.java.views.html.restrict
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@(flatList: List[Flat], localUser: models.User = null)

@main(Messages("playauthenticate.navigation.flats"), "flats") {

    <h1>@Messages("playauthenticate.navigation.flats")</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th> <!--todo iterator-->
                <th>Numer</th>
                <th>Nr bloku</th>
                <th>Metraż</th>
                <th>Ilość mieszkańców</th>
                <th> </th>
            </tr>
        </thead>
        @for(f <- flatList) {
            <tr>
                <td>@f.id</td>  <!--todo iterator-->
                <td>@f.nr</td>
                <td>@f.block.nr</td>
                <td>@f.metrage</td>
                <td>@f.residentsAmount</td>
                @restrict(la(as("admin"))) {
                    <td><a class="btn btn-default" href="@routes.Application.modifyFlat(f.id)" role="button">Modyfikuj</a></td>
                }
            </tr>
        }
    </table>
}
