@(userForm: Form[User])
@import helper._

@main(Messages("playauthenticate.admin.modifyuser.title"), "admin/modifyusers" ) {
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h1>@Messages("playauthenticate.admin.modifyuser.title")</h1>
    </div>
  </div>

  <div>
  @helper.form(routes.Application.doModifyUser()) {

    @*TODO: zrobić. przykładowy widok modifyflat*@
    <input type="hidden" name="id" value='@(userForm("id").value)'>

    @helper.inputText(userForm("name"), '_label -> Messages("Imie i nazwisko"))

    @helper.inputText(userForm("email"),  '_label -> Messages("email"))

    @helper.inputText(userForm("flat"), '_label -> "Mieszkanie/Blok")
    <br><br>

    <label for="active">aktywny</label><br>
    <select name="active">
      <option value="false">NIE</option>
      <option value="true">TAK</option>
    </select>
  <br><br>
    <button type="submit" class="btn btn-default">@Messages("Zapisz")</button>
  }
  </div>

}