@(flatForm: Form[Flat])
@import helper._

@main(Messages("playauthenticate.admin.modifyflat.title"), "admin/modifyflat" ) {
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h1>@Messages("playauthenticate.admin.modifyflat.title")</h1>
    </div>
  </div>

  <div>
  @helper.form(routes.Application.doModifyFlat()) {

    <input type="hidden" name="id" value='@(flatForm("id").value)'>

    @helper.inputText(flatForm("nr"), '_label -> "Numer")

    @helper.inputText(flatForm("metrage"), '_label -> "Metraż")

    @helper.inputText(flatForm("residentsAmount"), '_label -> "Liczba domowników")

    @helper.inputText(flatForm("block"), '_label -> "Blok")

    <button type="submit" class="btn btn-default">@Messages("zapisz")</button>
  }
  </div>

}