@(superbillsList: List[Superbill], localUser: models.User = null)

@main(Messages("playauthenticate.navigation.superbills"), "superbills") {

    <h1>@Messages("playauthenticate.navigation.superbills")</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kwota</th>
                <th>Termin zapłaty</th>
                <th>Opis</th>
            </tr>
        </thead>
        @for(s <- superbillsList) {
            <tr>
                <td>@s.id</td>
                <td>@s.amount</td>
                <td>@s.prompt</td>
                <td>@s.description</td>
            </tr>
        }
    </table>
}
