@(users: List[User])

@main(Messages("playauthenticate.admin.users.title"), "admin/users" ) {
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h1>@Messages("playauthenticate.admin.users.title")</h1>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imie i nazwisko</th>
                <th>Nr bloku</th>
                <th>Nr mieszkania</th>
                <th>email</th>
                <th>aktywny?</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        @for(u <- users) {
            <tr>
                <td>@u.id</td>
                <td>@u.name</td>
                @if(u.flat != null) {
                    <td>@u.flat.block</td>
                    <td>@u.flat.nr</td>
                } else { <td></td> <td></td> }
                <td>@u.email</td>
                <td>@u.active</td>
                <td><a class="btn btn-default" href="@routes.Application.modifyUser(u.id)" role="button">Modyfikuj</a></td>
                <td>@if(!u.active) {
                    <a class="btn btn-default" href="@routes.Signup.activate(u.id)" role="button">Aktywuj</a>
                }</td>
            </tr>
        }
    </table>

}